<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleay.org">
<link rel="stylesheet" th:href="@{/css/css1.css}"/>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container" th:if="${canUse}">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>姓名</th>
                <th>年龄</th>
                <th>账号</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="userList:${usersList}">
                <td th:text="${userList.userName}"></td>
                <td th:text="${userList.userAge}"></td>
                <td th:text="${userList.userAccount}"></td>
            </tr>
            </tbody>
        </table>

    </div>

    <button id="myButtonNext" th:if="${page.currentPage} < ${page.pageTotal}" >下一页</button>

    <div th:each="pageNumber : ${#numbers.sequence(1, page.pageTotal)}">
        <a th:text="${pageNumber}" th:href="@{'http://localhost:8080/community/home/allusers?p=' + ${pageNumber}}"></a>
    </div>
    <button id="myButtonBefore" th:if="${page.currentPage} > 1">上一页</button>

</div>

<div class="container" th:unless="${canUse}">
<h1>错误的页码</h1>
</div>


</body>
<script th:src="@{/js/homepage.js}"></script>
</html>