<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
</head>
<body>
<div class="container" id="container">
  <form class="login-form" id="login-form" th:action="@{/login/sigin}" method="post">
    <h2>Login</h2>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="account"/>
      <div class="invalid-feedback">Please enter a valid email address.</div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" required />
      <div class="invalid-feedback">Please enter your password.</div>
    </div>
    <div class="form-group">
      <label for="captcha">验证码</label>
      <div class="captcha-container">
        <img class="captcha-image" id="captcha-image" th:src="'http://localhost:8080' + @{/login/kaptcha}"/>
        <input type="text" class="form-control" id="captcha" name="code" required />
        <div class="invalid-feedback">请输入验证码</div>
      </div>
    </div>
    <div class="remberme">
      <input type="checkbox" name="remberme" value="true">记住我<br>
    </div>
    <button type="submit" id="submitButton" class="btn btn-primary">Submit</button>
  </form>

</div>

</body>
<!--<script src="/webjars/jquery/3.6.3/jquery.min.js"></script>-->
<script th:src="@{/js/login.js}"></script>
</html>
