<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" th:href="@{/css/signup.css}">
</head>

<body>

<h1>注册</h1>

<div id="login">

    <form method="post" action="/community/login/signupcommit">

        <div>
            <label for="account">账号:</label>
            <span id="accountTip" class="error"></span>
        </div>

        <input type="text" id="account" name="account" />


        <div>
            <label for="name">姓名:</label>
            <span id="nameTip" class="error"></span>
        </div>

        <input type="text" id="name" name="name" />



        <label for="password">密码:</label>
        <input type="password" id="password" name="password" />

        <label for="age">年龄:</label>
        <input type="text" id="age" name="age" />

        <input type="submit" value="提交" />

    </form>

</div>

</body>
<script th:src="@{/js/signup.js}"></script>
</html>